/* app-servers säännöt */
.app-servers {
    background-color: black;
}
.app-servers * {
    color: bisque;
}

.btn-primary {
    background-color: blue;
    padding: 0.7rem;
    border-radius: 1rem;
}